<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbaby">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".AlphabetThai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlphabetEng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InAlphaThai"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InAlphaEng"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AlphabetNumber"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InAlphaNumber"
            android:theme="@style/AppTheme.NoActionBar" />


        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>